@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url("fontello/css/codersc.css");

:root {
    --clr-main: #FF9848;
    --clr-light: #FFFAF5;
    --clr-font-primary: #242424;
    --clr-font-secondary: #727272;
    --clr-shadow: rgba(36, 36, 36, 0.1);
}

*, 
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--clr-main);
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background: var(--clr-light);
    color: var(--clr-font-primary);
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

section:nth-child(2n) {
    background: var(--clr-main);
}

footer {
    padding: 1rem;
    background: var(--clr-font-primary);
    color: var(--clr-light);
    text-align: center;
}

footer > a {
    color: var(--clr-main);
}

h2 {
    margin-bottom: 1rem;
    color: var(--clr-main);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

section:nth-child(2n) h2 {
    color: var(--clr-light);
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding: 1rem;
}

.btn {
    padding: 1rem 3rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.centered-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: fixed center / cover url("img/hero.jpeg");
}

label[for="hamburger"] {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2;
}

.hamburger-icon {
    width: 4rem;
    height: 4rem;
    justify-content: space-evenly;
    background: var(--clr-light);
    border: 1px solid var(--clr-main);
}

.hamburger-icon > span {
    width: 3rem;
    height: 0.5rem;
    background: var(--clr-main);
}

#hamburger {
    display: none;
}

#hamburger:checked + .top__navigation {
    display: block;
}

.top__navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-light);
    z-index: 1;
}

.navigation__brand {
    position: relative;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.navigation__brand::first-letter {
    color: var(--clr-light);
}

.navigation__brand::before {
    content: "";
    position: absolute;
    height: 66%;
    width: 2rem;
    top: 6px;
    left: -4px;
    background: var(--clr-main);
    z-index: -1;
}

.navigation__list {
    width: 100%;
    list-style: none;
}

.navigation__item {
    width: 100%;
}

.navigation__item > a {
    display: block;
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--clr-main);
    opacity: 0.9;
}

#top > .container {
    justify-content: center;;
}

.top__heading {
    position: relative;
    margin-bottom: 1rem;
    color: var(--clr-light);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.top__subheading {
    position: relative;
    margin-bottom: 1rem;
    color: var(--clr-light);
    font-size: 1.5rem;
}

.btn--top {
    position: relative;
    background: var(--clr-light);
    color: var(--clr-main);
}

.start {
    display: flex;
    position: fixed;
    width: 4rem;
    height: 4rem;
    right: 1rem;
    bottom: 1rem;
    align-items: center;
    justify-content: center;
    background: var(--clr-light);
    color: var(--clr-main);
    border: 1px solid var(--clr-main);
    font-size: 2rem;
    z-index: 2;
}

.start__arrow {
    transform: rotate(180deg);
}

#about > .container {
    display: flex;
    height: 100%;
    align-items: center;
}

.about__image {
    display: none;
}

.about__info {
    width: 100%;
}

.offer__cards {
    margin-bottom: 1rem;
}

.card {
    width: 80%;
    margin-bottom: 1rem;
    padding: 2rem;
    background: var(--clr-light);
}

.card__icon {
    margin-bottom: 1rem;
    color: var(--clr-main);
    font-size: 3rem;
}

.card__heading {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.contact-form, .contact-form__data {
    display: flex;
    flex-direction: column;
}

.data__name, .data__email, .contact-form__message {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border: 1px solid var(--clr-main);
    color: var(--clr-font-primary);
    font-family: inherit;
    font-size: 1rem;
}

.data__name::placeholder, .data__email::placeholder, .contact-form__message::placeholder {
    color: var(--clr-font-secondary);
}

.contact-form__message {
    height: 250px;
    resize: none;
}

.btn--contact {
    background: var(--clr-main);
    color: var(--clr-light);
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .container {
        margin: 0 auto;
        width: 720px;
    }
}

@media only screen and (min-width: 992px) {

    h2 {
        font-size: 3rem;
    }

    .container {
        width: 960px;
    }

    .col-to-row {
        flex-direction: row;
    }

    label[for="hamburger"] {
        display: none;
    }

    .top__navigation {
        display: block;
        box-shadow: 0 5px 15px var(--clr-shadow);
    }

    .top__navigation > .container {
        padding: 0;
    }

    .navigation__brand {
        margin-bottom: 0;
        margin-right: auto;
    }

    .navigation__list {
        width: auto;
    }

    .navigation__item {
        width: auto;
    }

    .navigation__item > a {
        padding: calc(1rem + 4px) 1rem 1rem 1rem;
        border-bottom: 4px solid transparent;
        text-align: left;
    }

    .navigation__item:hover > a {
        color: var(--clr-main);
        border-bottom: 4px solid var(--clr-main);
    }

    .top__heading {
        margin-top: 4rem;
        font-size: 4rem;
    }

    .top__subheading {
        font-size: 2rem;
    }

    .start {
        right: 2rem;
        bottom: 2rem;
    }

    .start__arrow {
        animation: 2s infinite gotop;
    }

    #about h2 {
        text-align: left;
    }

    .about__image {
        display: block;
        margin-right: 2rem;
        width: 50%;
        height: 75%;
        object-fit: cover;
    }

    .about__info {
        width: 50%;
    }

    #offer h2 {
        margin-bottom: 2rem;
    }

    .card:first-child {
        margin-left: 0;
    }

    .card {
        margin: 0 1rem;
        transition: border-radius 1s, box-shadow 1s, transform 1s;
    }

    .card:last-child {
        margin-right: 0;
    }

    .card:hover {
        border-radius: 1rem;
        box-shadow: 10px 15px 40px var(--clr-shadow);
        transform: scale(1.05);
    }

    .card__heading {
        font-size: 2rem;
    }

    .data__name, .data__email {
        width: 100%;
    }

    .data__name {
        margin-right: 1rem;
    }

    .btn--contact {
    	width: 50%;
    	align-self: center;
    }

    @keyframes gotop {
        0% {
            transform: translateY(-0.5rem) rotate(180deg);
        }

        50% {
            transform: translateY(0.5rem) rotate(180deg);
        }

        100% {
            transform: translateY(-0.5rem) rotate(180deg);
        }
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}